body {
  background-image: url(../img/dd1.jpg);
}

body {
  color: white;
  font-family: 'Fredoka One', cursive;
  font-size: 40px;
}

#copyright {
	float: left;
	padding-bottom: 10px;
	padding-top: 700px;
	text-align:center ;
	bottom: 90x;
	width: 100%;
  font-size: 8;
}

.btn {
  border-style: double;
  border-color: white;
  background-color: red;
  color: white;
}
